<!-- wp:template-part {"slug":"header","tagName":"header","className":"aws-header"} /-->
<!-- wp:group {"className": "aws-section", "align": "full", "tagName": "main"} --><main class="wp-block-group alignfull aws-section"><!-- wp:group {"className": "aws-inner"} --><div class="wp-block-group aws-inner"><!-- wp:post-title {"level":1} /--><!-- wp:post-content /--></div><!-- /wp:group --></main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"aws-footer"} /-->
