{% extends "base.html" %}
{% block titel %}Willkommen{% endblock %}
{% block inhalt %}
  <h1>Online-Anmeldung an {{ schulname }}</h1>
  <p class="lead">
    Hier können Sie Ihr Kind bequem online anmelden – für die neuen fünften
    Klassen oder für eine Aufnahme im laufenden Schuljahr. Die Daten werden von
    der Schulverwaltung anschließend direkt weiterverarbeitet.
  </p>
  <p>
    <a class="knopf" href="{{ url_for('anmeldung') }}">Zur Anmeldung</a>
  </p>
  <p class="klein">
    Bitte halten Sie die Angaben zu Ihrem Kind sowie zu den
    Erziehungsberechtigten bereit. Mit „Straße/Ort (falls abweichend)" sind
    Angaben gemeint, die sich von der Anschrift des Kindes unterscheiden.
  </p>
{% endblock %}
